.titles {
  align-self: flex-start;
  font-size: 26px;
  /* width: 360px; */
  /* padding: 40px; */
}

.title {
  margin-bottom: 16px;
  padding-left: 25px;
  padding-top: 25px;
  text-align: start;
  align-self: center;
}
p {
  font-size: 24px;
  display: flex;
  gap: 16px;
  padding-left: 25px;
}
